@charset "utf-8";







/* 슬라이드 */
.conB li{ list-style-type: none; } 
/* 보여줄 구간의 높이와 넓이 설정 */ 
.conB #slideShow{ width: 500px; height: 300px; position: relative; margin: 50px auto; overflow: hidden; }
.conB .slides{ position: absolute; left: 0; top: 0; width: 2500px; transition: left 0.5s ease-out;} 
    
.conB .slides li:first-child{ margin-left: 100px; }
     
.conB .slides li:not(:last-child){ float: left; margin-right: 100px; } 
.conB .slides li{ float: left; } 
.conB .controller span{ position:absolute; background-color: transparent; color: black; text-align: center; border-radius: 50%; padding: 10px 20px; top: 50%; font-size: 1.3em; cursor: pointer; } 

.conB .controller span:hover{ background-color: rgba(128, 128, 128, 0.11); } 
.conB .prev{ left: 10px; } 
     
.conB .prev:hover{ transform: translateX(-10px); } 
.conB .next{ right: 10px; } 
.conB .next:hover{ transform: translateX(10px); }
